{
    "AllowStealingKernels": false,
    "AllowSilentKernelReplacement": true,
    "EnableAutomaticKernelConnection": false,
    "SendInputNamePacketUponKernelConnection": true,
    "Pools": {
        "StandardKernels": {
            "Default": true,
            "KernelPath": "__KERNEL_PATH__",
            "KeepAlive": true,
            "MinimumKernelNumber": 2,
            "MaximumKernelNumber": 4
        }
    }
}
